[DEFAULT]
monitor_url = 
uuid = 
database_name = bmm-mnvcontractscraper.db
logfile_name = app.log
staging = 0
donotnotify = 0

[Download]
url = https://mnv.hu/apps/search/contracts
from_date = 2023-06-30
size = 30