<br>

<div>
    <span class="bmm-event-label">Szerződés száma:</span>
    <span class="bmm-event-data">{{ contract["number"] }}</span>
</div>
<div>
    <span class="bmm-event-label">Kelte:</span>
    <span class="bmm-event-data">{{ contract["date"] }}</span>
</div>
<div>
    <span class="bmm-event-label">Értéke:</span>
    <span class="bmm-event-data">{{ "{:,}".format(contract["value"]).replace(",", " ") }}</span>
</div>
<div>
    <span class="bmm-event-label">Szerződő fél:</span>
    <span class="bmm-event-data">{{ contract["partner"] }}</span>
</div>
<div>
    <span class="bmm-event-label">Tárgy:</span>
    <span class="bmm-event-data">{{ contract["subject"] }}</span>
</div>
<div>
    <span class="bmm-event-label">Típus:</span>
    <span class="bmm-event-data">{{ contract["type"] }}</span>
</div>
<div class="bmm-event-separator">&nbsp;</div>

<div class="bmm-event-label">
    <b>Egyezések száma</b>: {{ contract["result_count"] }}
</div>

<div class="bmm-event-label">
    <b>Első egyezések</b>:
    <ul>
    {% for result in contract["results"] %}
        <li>"{{ result["before"] }}<b>{{ result["common"] }}</b>{{ result["after"] }}"</li>
    {% endfor %}
    </ul>
</div>

<br>
